.list {
  position: relative;
  width: 100%;
}

.item-wrapper {
  position: absolute;
  will-change: transform, width, height, opacity;
  padding: 0;
  top: 0;
  left: 0;
  transform-origin: top left;
}

.item-wrapper > .item-img {
  position: relative;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
